In [2]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [9]:
! pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
     |████████████████████████████████| 112kB 2.7MB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

In [10]:
! find ../datasets/ | grep Housing

../datasets/python-for-finance-investment-fundamentals-udm/13. PART II Finance - Using Regressions for Financial Analysis/1.2 Housing Data.xlsx.xlsx
../datasets/python-for-finance-investment-fundamentals-udm/13. PART II Finance - Using Regressions for Financial Analysis/6.2 Housing.xlsx.xlsx
../datasets/python-for-finance-investment-fundamentals-udm/13. PART II Finance - Using Regressions for Financial Analysis/3.2 Housing.xlsx.xlsx
../datasets/python-for-finance-investment-fundamentals-udm/16. Part II Finance Multivariate regression analysis/3.2 Housing.xlsx.xlsx
../datasets/udm_python_for_financial_investment/13. PART II Finance - Using Regressions for Financial Analysis/1.2 Housing Data.xlsx.xlsx
../datasets/udm_python_for_financial_investment/13. PART II Finance - Using Regressions for Financial Analysis/6.2 Housing.xlsx.xlsx
../datasets/udm_python_for_financial_investment/13. PART II Finance - Using Regressions for Financial Analysis/3.2 Housing.xlsx.xlsx
../datasets/udm_python_for_financial_investment/16. Part II Finance Multivariate regression analysis/3.2 Housing.xlsx.xlsx

In [11]:
data = pd.read_excel('../datasets/udm_python_for_financial_investment/16. Part II Finance Multivariate regression analysis/3.2 Housing.xlsx.xlsx')

In [12]:
data

,House Price,House Size (sq.ft.),State,Number of Rooms,Year of Construction
0,1116000,1940,IN,8,2002
1,860000,1300,IN,5,1992
2,818400,1420,IN,6,1987
3,1000000,1680,IN,7,2000
4,640000,1270,IN,5,1995
5,1010000,1850,IN,7,1998
6,600000,1000,IN,4,2015
7,700000,1100,LA,4,2014
8,1100000,1600,LA,7,2017
9,570000,1000,NY,5,1997
10,860000,2150,NY,9,1997
11,1085000,1900,NY,9,2000
12,1250000,2200,NY,9,2014
13,850000,1100,TX,4,2017
14,640000,860,TX,4,1997
15,900000,1325,TX,6,1997
16,730000,1350,TX,6,2000
17,750000,1600,TX,6,1992
18,650000,950,TX,2,1987
19,680000,1250,TX,4,2000

In [14]:
X = data[['House Size (sq.ft.)', 'Number of Rooms', 'Year of Construction']]
Y = data['House Price']

In [15]:
X1 = sm.add_constant(X)

/home/wajeeh-ros/.conda/envs/python3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [16]:
X1

    const  House Size (sq.ft.)  Number of Rooms  Year of Construction
0     1.0                 1940                8                  2002
1     1.0                 1300                5                  1992
2     1.0                 1420                6                  1987
3     1.0                 1680                7                  2000
4     1.0                 1270                5                  1995
5     1.0                 1850                7                  1998
6     1.0                 1000                4                  2015
7     1.0                 1100                4                  2014
8     1.0                 1600                7                  2017
9     1.0                 1000                5                  1997
10    1.0                 2150                9                  1997
11    1.0                 1900                9                  2000
12    1.0                 2200                9                  2014
13    1.0                 1100                4                  2017
14    1.0                  860                4                  1997
15    1.0                 1325                6                  1997
16    1.0                 1350                6                  2000
17    1.0                 1600                6                  1992
18    1.0                  950                2                  1987
19    1.0                 1250                4                  2000

In [17]:
reg = sm.OLS(Y,X1).fit()

reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            House Price   R-squared:                       0.736
Model:                            OLS   Adj. R-squared:                  0.687
Method:                 Least Squares   F-statistic:                     14.90
Date:                Tue, 24 Dec 2019   Prob (F-statistic):           6.82e-05
Time:                        20:46:18   Log-Likelihood:                -258.43
No. Observations:                  20   AIC:                             524.9
Df Residuals:                      16   BIC:                             528.9
Df Model:                           3
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                -9.452e+06    5.4e+06     -1.752      0.099   -2.09e+07    1.99e+06
House Size (sq.ft.)    341.8271    179.666      1.903      0.075     -39.049     722.703
Number of Rooms        1.16e+04   3.74e+04      0.310      0.760   -6.77e+04    9.08e+04
Year of Construction  4863.5761   2697.969      1.803      0.090    -855.862    1.06e+04
==============================================================================
Omnibus:                        2.140   Durbin-Watson:                   1.938
Prob(Omnibus):                  0.343   Jarque-Bera (JB):                1.747
Skew:                          -0.676   Prob(JB):                        0.418
Kurtosis:                       2.484   Cond. No.                     5.40e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.4e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [18]:
X = data[['House Size (sq.ft.)', 'Number of Rooms']]
Y = data['House Price']

In [20]:
X1 = sm.add_constant(X)

/home/wajeeh-ros/.conda/envs/python3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [21]:
X1

    const  House Size (sq.ft.)  Number of Rooms
0     1.0                 1940                8
1     1.0                 1300                5
2     1.0                 1420                6
3     1.0                 1680                7
4     1.0                 1270                5
5     1.0                 1850                7
6     1.0                 1000                4
7     1.0                 1100                4
8     1.0                 1600                7
9     1.0                 1000                5
10    1.0                 2150                9
11    1.0                 1900                9
12    1.0                 2200                9
13    1.0                 1100                4
14    1.0                  860                4
15    1.0                 1325                6
16    1.0                 1350                6
17    1.0                 1600                6
18    1.0                  950                2
19    1.0                 1250                4

In [22]:
reg = sm.OLS(Y,X1).fit()

reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            House Price   R-squared:                       0.683
Model:                            OLS   Adj. R-squared:                  0.645
Method:                 Least Squares   F-statistic:                     18.30
Date:                Tue, 24 Dec 2019   Prob (F-statistic):           5.77e-05
Time:                        20:48:08   Log-Likelihood:                -260.28
No. Observations:                  20   AIC:                             526.6
Df Residuals:                      17   BIC:                             529.6
Df Model:                           2
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                2.737e+05   1.03e+05      2.655      0.017    5.62e+04    4.91e+05
House Size (sq.ft.)   314.1363    190.485      1.649      0.117     -87.752     716.025
Number of Rooms      1.944e+04   3.95e+04      0.492      0.629   -6.39e+04    1.03e+05
==============================================================================
Omnibus:                        1.326   Durbin-Watson:                   1.852
Prob(Omnibus):                  0.515   Jarque-Bera (JB):                0.810
Skew:                          -0.487   Prob(JB):                        0.667
Kurtosis:                       2.853   Cond. No.                     5.89e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.89e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""