In [1]:
import pandas as pd
import numpy as np

In [2]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                          'New York': 141297, 'Florida': 170312,
                          'Illinois': 149995})

pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                         'New York': 19651127, 'Florida': 19552860,
                         'Illinois': 12882135})

In [3]:
data = pd.DataFrame({'area':area, 'pop': pop})

In [4]:
data['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [6]:
#BOOLEAN

In [5]:
data.area is data['area']

True

### DATAFRAME has POP method so the same equality won't work on Data.pop

In [8]:
data.pop is data['pop']

False

##### add new column

In [9]:
data['density'] = data['pop']/data['area']

In [10]:
data['density']

California     90.413926
Florida       114.806121
Illinois       85.883763
New York      139.076746
Texas          38.018740
Name: density, dtype: float64

In [11]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01]])

In [12]:
data.T

           California       Florida      Illinois      New York         Texas
area     4.239670e+05  1.703120e+05  1.499950e+05  1.412970e+05  6.956620e+05
pop      3.833252e+07  1.955286e+07  1.288214e+07  1.965113e+07  2.644819e+07
density  9.041393e+01  1.148061e+02  8.588376e+01  1.390767e+02  3.801874e+01

#### Thus for array-style indexing, we need another convention. Here Pandas again uses the loc, iloc, and ix indexers mentioned earlier. Using the iloc indexer, we can index the underlying array as if it is a simple NumPy array (using the implicit Python-style index), but the DataFrame index and column labels are maintained in the result:

In [14]:
#see three rows and two columns
data.iloc[:3,:2]

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135

In [15]:
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135

#### The ix indexer allows a hybrid of these two approaches:

In [16]:
data.ix[:3,:'pop']

/home/wajeeh-ros/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135

In [19]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
Florida   19552860  114.806121
New York  19651127  139.076746